.body{
    background-color: lightblue;
    font-family: cursive;
}

.fieldset1{
    border-color: black;
    width: 80%;
}

.div1{
    display: flex;
    gap: .6250em;
}

.div2{
    display: flex; 
    margin-top: 3em; 
    margin-bottom: 3em; 
    margin-left: 2em;
}

.table{
    margin-left: 13em;
    margin-top: -3em;
    width: 31.25em;
}

.p{
    text-indent: 3em;
}